.dashboard-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.chart-container,
.history-container {
  flex: 1;
  min-width: 300px;
}

.chart-box {
  width: 100%;
  height: 300px;
}

.history-list {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}

.history-item {
  background-color: #A06CD5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.date {
  color: #4b4b4b;
  font-size: 0.9rem;
}

.history-list-items{
    display: flex;
    align-items: center;
    gap: 10px;
}
