.media-card {
  width: 100%;
  max-width: 400px;
  background-color: #102B3F;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  margin: 0 auto;
}

.media-card:hover {
  box-shadow: 0 0px 10px rgba(190, 190, 190, 0.15);
}

.media-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.media-details {
  padding: 8px 20px;
}

.media-title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: -10px;
}

.media-person {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: -10px;
  color: #e5e5e5;
}

.media-genre {
  font-size: 0.8rem;
  background-color: #E2CFEA;
  color: #6247AA;
  padding: 2px 8px;
  border-radius: 50px;
}

.media-description {
  text-align: left;
  font-size: 0.9rem;
  color: #e5e5e5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-info-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 8px;
}

.media-info-row p {
  margin: 0;
  font-size: 0.9rem;
}

.btn-watchlist {
  margin-top: 8px;
  padding: 6px 12px;
  font-size: 0.85rem;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  background-color: #6247AA;
  color: white;
  border: none;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.btn-watchlist:hover {
  background-color: #A06CD5;
}